/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}


body {
    font-family: Arial;
    padding: 0px;
    

}
}
/* Header/Blog Title */
.header {
    padding:10px;
    text-align: left;
    background-image: url("header.jpg");
	background-repeat:repeat;
	border-bottom: solid;
	/*max-height:100px;*/
	
}
.header h1 {
    font-size: 60px;
	font-weight: bold;
	color:white;
}
.container
{

	margin-left:25%;
	margin-top:10%;
	width:50%;
	 background-image: url("BACK1.jpg");
    background-repeat: no-repeat;
	border:solid;
	 
    
	
}
.button1
{
	float:right;
	color: BLACK;
	font-weight: bold;
	margin-right:10px;
	font-size:20px;
		 text-shadow: 3px 2px YELLOW;
	
}
li a:hover {
    background-color: #555;
    color: white;
}
li {
    text-align: center;
    border:1px solid #555;
	list-style-type:none;
}
li a.active {
    background-color: #4CAF50;
    color: white;
}
.box
{
	float:left;
	
}
.bal
{
	float:left;
}